<div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth">
        <!-- You may change the background color here. -->
        <div class="item" style="background-image: url('/images/protos-art-363182.jpg');">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Let us make you look great too!</h1>
                                <h2 class="fh5co-sub-lead to-animate">
                                    Fully Responsive HTML5 Websites. Crafted with care by the fine folks at
                                </h2>
                                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Desperado Design</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
                        <div class="iphone to-animate-2"><img src="/images/iphone-2.png" alt="phone"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- You may change the background color here.  -->
        <div class="item" style="background-image: url('/images/alberto-restifo-4508.jpg');">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">This is just a test</h1>
                                <h2 class="fh5co-sub-lead to-animate">
                                    This is a test of a single page template. How do you think this looks? If you like it then ...
                                </h2>
                                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Request Yours Now!</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
                        <div class="iphone to-animate-2"><img src="/images/iphone-1.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('/images/robert-murray-118030.jpg');">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Ask how you can get yours!</h1>
                                <h2 class="fh5co-sub-lead to-animate">
                                    This is still a test. This is the new full width image format that everyone is going toward.
                                </h2>
                                <p class="to-animate-2"><a href="#" target="_blank" class="btn btn-primary btn-lg">Contact Me</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

